<button (click)="scrollToTop()"
    class="fixed bottom-4 right-4 z-50 w-10 h-10 rounded-full text-white shadow-md flex items-center justify-center group transition-all duration-300 ease-in-out"
    [ngStyle]="{
'background': 'conic-gradient(rgb(248, 99, 46) ' + scrollDegree + 'deg, rgb(255, 231, 220) ' + scrollDegree + 'deg)',
'opacity': scrollDegree > 0 ? '1' : '0'
    }"
    title="Scroll to top">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 group-hover:scale-110 transition-all transform" fill="none"
        viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
        <path stroke-linecap="round" stroke-linejoin="round" d="M5 15l7-7 7 7" />
    </svg>
</button>
