<router-outlet></router-outlet>
<app-scroll-to-top></app-scroll-to-top>
<div
  *ngIf="showWhatsAppButton"
  class="fixed bottom-14 right-4 sm:bottom-[4.5rem] sm:right-4 flex flex-col items-end gap-2 z-40"
>
  <div
    class="opacity-0 invisible transform translate-y-2 transition-all duration-300 ease-in-out 
            text-white font-semibold px-3 py-2 rounded-lg shadow-md text-sm 
            group-hover:opacity-100 group-hover:visible group-hover:translate-y-0 
            bg-orange-500 w-max m-4"
  >
    Hello! How can I help you? 👋
  </div>

  <a
    href="https://wa.me/+918220895546"
    target="_blank"
    class="w-12 h-12 sm:w-14 sm:h-14 flex items-center justify-center bg-green-500 text-white rounded-full shadow-lg 
           hover:scale-110 transition-transform animate-bounce z-50"
  >
    <i class="fab fa-whatsapp text-3xl sm:text-4xl"></i>
  </a>
</div>

