/* Smooth dropdown icon rotation */
svg.rotate-180 {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
  
 

  
@media (min-width: 768px) {
  nav a {
    padding: 0.5rem 0.75rem;
  }
}

nav {
  transition: top 0.3s ease, opacity 0.3s ease;
}
